* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-layout {
  flex: 1;
  margin: 5px;
  padding: 0px;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
}

.layout-split {
  display: flex;
  flex: 1;
  background-color: #66c01c;
}

.left-panel {
  background-color: #1cc0c0;
}

.right-panel {
  background-color: #dbe728;
}

.bottons-column {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: fit-content;
}

/* * {
  margin: 0px;
  padding: 0px;
} */
/* .App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Split {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Split > div {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
} */
/* .App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.split {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.panel {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  padding: 10px;
  box-sizing: border-box;
} */

/* .split {
  display: flex;
  height: 100vh;
}

.left-pane,
.right-pane {
  overflow: auto;
  padding: 10px;
}

.split .gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: col-resize;
} */
