body, html, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #121212; /* ダークな背景色 */
    color: #e0e0e0; /* 白に近い落ち着いた文字色 */
}

.App {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.App-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #282c34;
    color: #e0e0e0;
    text-align: left;
    padding: 10px;
    z-index: 1000;
}

.App-main {
    flex: 1;
    margin-top: 90px; /* ヘッダーの高さ */
    padding: 20px;
    overflow: auto; /* コンテンツが多い場合にスクロールさせる */
    background-color: #1e1e1e; /* メインコンテンツのダークな背景色 */

    /* スクロールバーのカスタマイズ */
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #888 #1e1e1e; /* Firefox */
}

/* Webkit（Chrome、Safari）のスクロールバーのスタイル */
.App-main::-webkit-scrollbar {
    width: 8px;
}

.App-main::-webkit-scrollbar-track {
    background: #1e1e1e;
}

.App-main::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 2px solid #1e1e1e;
}

.App-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #282c34;
    color: #e0e0e0;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
}
